# Nextflow files
work/
.nextflow/
.nextflow.log*

# Results and testing
results/
test_results/
test_data/

# Environment and logs
archive/
*.log
*.tmp
tmp/

# Conda/Python
__pycache__/
*.pyc
.ipynb_checkpoints/
genomes/
results_from_local_genomes/
.synterra_logs/
test_out/
ref/
archive/
test_home_db/
