# Nextflow files
work/
.nextflow/
.nextflow.log*
.nextflow*

# Results and testing
results/
results_*/
test_results/
test_data/
test_out/
test_home_db/

# Environment and logs
archive/
*.log
*.tmp
tmp/
cache/
.synterra_logs/
.pytest_cache/

# Conda/Python
__pycache__/
*.pyc
.ipynb_checkpoints/
genomes/
results_from_local_genomes/
.synterra_logs/
test_out/
ref/
archive/
test_home_db/

ref/Homo_sapiens.fna.gz
docs/
local_runs/
queries/
legacy_source/
bin_backup_pre_unconstrained.tar.gz
