/*
 * Test configuration for Melettin (Apis mellifera) using UniProt ID
 */

params {
    // Query
    query_id = 'P01501'
    
    // Home Genome
    home_genome = "${projectDir}/test_data/genomes/apis_mellifera/ncbi_dataset/data/GCF_003254395.2/GCF_003254395.2_Amel_HAv3.1_genomic.fna"
    home_gff = "${projectDir}/test_data/genomes/apis_mellifera/ncbi_dataset/data/GCF_003254395.2/genomic.gff"
    
    // Target Genomes (Full Run)
    target_genomes = [
        "${projectDir}/test_data/genomes/Tetramorium_bicarinatum/ncbi_dataset/data/GCA_928718305.1/GCA_928718305.1_Tetramorium_bicarinatum_1.0_genomic.fna",
        "${projectDir}/test_data/genomes/bombus_terestris/ncbi_dataset/data/GCA_910591885.2/GCA_910591885.2_iyBomTerr1.2_genomic.fna",
        "${projectDir}/test_data/genomes/pogomomyrmex_californicus/ncbi_dataset/data/GCA_050084945.1/GCA_050084945.1_Pcal3.1_genomic.fna",
        "${projectDir}/test_data/genomes/vespa_velutina/ncbi_dataset/data/GCA_912470025.1/GCA_912470025.1_iVesVel2.1_genomic.fna"
    ]
    
    // Pipeline settings
    outdir = 'results/test_melettin'
    mode = 'pro'
    
    min_synteny_score = 0.1
    n_flanking_genes = 10
}

process {
    conda = "${projectDir}/environment.yml"
}
