# Test configuration for SynTerra
# Uses test data from test_data/

params {
    // Input files
    gene = "${baseDir}/test_data/gene.fasta"
    home_genome = "${baseDir}/test_data/genome.fna"
    home_gff = "${baseDir}/test_data/genome.gff"
    target_genomes = "${baseDir}/test_data/target*.fna"
    
    // Mode
    mode = 'pro'
    
    // Relaxed parameters for fast testing
    n_flanking_genes = 5
    min_synteny_score = 0.4  // Lower for test data
    
    // Output
    outdir = "${baseDir}/test_results"
}

process {
    // Reduce resources for testing
    withLabel: process_medium {
        cpus = 2
        memory = 4.GB
        time = 30.m
    }
    
    withLabel: process_long {
        cpus = 2
        memory = 4.GB
        time = 1.h
    }
}
